<!DOCTYPE html>
<html lang="ko-kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
    }
    #text_div {
      position: absolute;
      width: 76px;
      height: 40px;
      top: 66px;
      left: 104px;
      font-size: 32px;
    }
    #kakao_div {
      width: fit-content;
      height: 129px;
    }
  </style>
</head>
<body>
  <script src="../../public/js/html2canvas.min.js"></script>
  <div id="kakao_div">
    <img src="../../public/image/kakaotalk/kakaotalk_image.jpg" alt="No Image">
    <div id="text_div"></div>
  </div>
  <input type="text" name="input" id="text_input" maxlength="3">
  <button id="download_button">Download</button>
  <div>Result:</div>
  <div id = 'result_div'></div>
  <script>
    document.getElementById('text_input').addEventListener('change', (event) => {
      const textDiv = document.getElementById('text_div')
      const str = event.target.value
      textDiv.textContent = `${str}`
    });
    let c;
    document.getElementById('download_button').addEventListener('click', (event) => {
      html2canvas(document.querySelector("#kakao_div")).then(canvas => {
        document.querySelector('#result_div').innerHTML = ''
        document.querySelector('#result_div').appendChild(canvas)
        var link = document.createElement("a");
        link.download = document.getElementById('text_input').value + '.png';
        link.href = canvas.toDataURL("image/png");
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
      });
    });
  </script>
</body>
</html>