<!DOCTYPE html>
<html lang="ko-kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main</title>
  <style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0;
      overflow: hidden;
      padding: 20px;
    }
    #result{
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>
	트롤 자판기
  </h1>
  <h4>리그 오브 레전드 랜덤 조합기</h4>
  <input type="checkbox" id="checkbox_champion" name="체크" value="champion" checked="checked">챔피언<br>
  <input type="checkbox" id="checkbox_line" name="체크" value="line" checked="checked">라인<br>
  <input type="checkbox" id="checkbox_item" name="체크" value="item" checked="checked">아이템<br>
  <input type="checkbox" id="checkbox_rune" name="체크" value="rune" checked="checked">룬<br>
  <br>
  <button id="allrandom" type="button">전체 랜덤</button>
  <div id="result"></div>
  <script>
    function getRandomNumber(max) {
      return Math.floor(Math.random() * (max)); //최댓값은 제외, 최솟값은 포함
    }

    var champions = [
    "가렌",
    "갈리오",
    "갱플랭크",
    "그라가스",
    "그레이브즈",
    "그웬",
    "나르",
    "나미",
    "나피리",
    "나서스",
    "노틸러스",
    "녹턴",
    "누누와 윌럼프",
    "니달리",
    "니코",
    "닐라",
    "다리우스",
    "다이애나",
    "드레이븐",
    "라이즈",
    "라칸",
    "람머스",
    "럭스",
    "럼블",
    "레나타 글라스크",
    "레넥톤",
    "레오나",
    "렉사이",
    "렐",
    "렝가",
    "루시안",
    "룰루",
    "르블랑",
    "리 신",
    "리븐",
    "리산드라",
    "릴리아",
    "마스터 이",
    "마오카이",
    "말자하",
    "말파이트",
    "모데카이저",
    "모르가나",
    "문도 박사",
    "미스 포츈",
    "밀리오",
    "바드",
    "바루스",
    "바이",
    "베이가",
    "베인",
    "벡스",
    "벨코즈",
    "벨베스",
    "볼리베어",
    "브라움",
    "브랜드",
    "블라디미르",
    "블리츠크랭크",
    "비에고",
    "빅토르",
    "뽀삐",
    "사미라",
    "사이온",
    "사일러스",
    "샤코",
    "세나",
    "세라핀",
    "세주아니",
    "세트",
    "소나",
    "소라카",
    "쉔",
    "쉬바나",
    "스웨인",
    "스카너",
    "시비르",
    "신 짜오",
    "신드라",
    "신지드",
    "쓰레쉬",
    "아리",
    "아무무",
    "아우렐리온 솔",
    "아이번",
    "아지르",
    "아칼리",
    "아크샨",
    "아트록스",
    "아펠리오스",
    "알리스타",
    "애니",
    "애니비아",
    "애쉬",
    "야스오",
    "에코",
    "엘리스",
    "오공",
    "오른",
    "오리아나",
    "올라프",
    "요네",
    "요릭",
    "우디르",
    "우르곳",
    "워윅",
    "유미",
    "이렐리아",
    "이블린",
    "이즈리얼",
    "일라오이",
    "자르반 4세",
    "자야",
    "자이라",
    "자크",
    "잔나",
    "잭스",
    "제드",
    "제라스",
    "제리",
    "제이스",
    "조이",
    "직스",
    "진",
    "질리언",
    "징크스",
    "초가스",
    "카르마",
    "카밀",
    "카사딘",
    "카서스",
    "카시오페아",
    "카이사",
    "카직스",
    "카타리나",
    "칼리스타",
    "케넨",
    "케이틀린",
    "케인",
    "케일",
    "코그모",
    "코르키",
    "퀸",
    "크산테",
    "클레드",
    "키아나",
    "킨드레드",
    "타릭",
    "탈론",
    "탈리야",
    "탐 켄치",
    "트런들",
    "트리스타나",
    "트린다미어",
    "트위스티드 페이트",
    "트위치",
    "티모",
    "파이크",
    "판테온",
    "피들스틱",
    "피오라",
    "피즈",
    "하이머딩거",
    "헤카림",
    ]

    var lines = [
      "탑",
      "정글",
      "미드",
      "원딜",
      "서폿",
    ]


    var items = [
      "발걸음 분쇄기",
      "선혈포식자",
      "신성한 파괴자",
      "삼위일체",
      "구인수의 격노검",
      "돌풍",
      "무한의 대검",
      "나보리 신속검",
      "요우무의 유령검",
      "드락사르의 황혼검",
      "월식",
      "부서진 여왕의 왕관",
      "만년서리",
      "영겁의 지팡이",
      "리안드리의 고뇌",
      "루덴의 폭풍",
      "밤의 수확자",
      "마법공학 로켓 벨트",
      "균열 생성기",
      "광휘의 미덕",
      "얼어붙은 건틀릿",
      "해신 작쇼",
      "강철심장",
      "슈렐리아의 군가",
      "월석 재생기",
      "헬리아의 메아리",
      "저녁갑주",
      "강철의 솔라리 펜던트",
    ]

    var runes = [
      "집중 공격",
      "치명적 속도",
      "기민한 발놀림",
      "정복자",
      "감전",
      "포식자",
      "어둠의 수확",
      "칼날비",
      "콩콩이 소환",
      "신비로운 유성",
      "난입",
      "착취의 손아귀",
      "여진",
      "수호자",
      "빙결 강화",
      "봉인 풀린 주문서",
      "선제 공격",
    ]

    var champion = "";
    var line = "";
    var item = "";
    var rune = "";


    var allrandom_dom = document.getElementById("allrandom");
    var result_dom = document.getElementById("result");

    var checkbox_champion = document.getElementById("checkbox_champion");
    var checkbox_line = document.getElementById("checkbox_line");
    var checkbox_item = document.getElementById("checkbox_item");
    var checkbox_rune = document.getElementById("checkbox_rune");


    allrandom_dom.onclick = function() {
      champion = champions[getRandomNumber(champions.length)];
      line = lines[getRandomNumber(lines.length)];
      item = items[getRandomNumber(items.length)];
      rune = runes[getRandomNumber(runes.length)];

      var result_string = "<table>";

      if(checkbox_champion.checked)
        result_string += "<tr><td>챔피언</td><td>:  " + champion + "</td></tr>";
      if(checkbox_line.checked)
        result_string += "<tr><td>라인</td><td>:  " + line + "</td></tr>";
      if(checkbox_item.checked)
        result_string += "<tr><td>아이템</td><td>:  " + item + "</td></tr>";
      if(checkbox_rune.checked)
        result_string += "<tr><td>룬</td><td>:  " + rune + "</td></tr>";

      result_string += "</table>";

      result_dom.innerHTML  = result_string;

    }
  </script>
</body>
</html>
